*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

ul {
    display: flex;
    margin: 16px;
    padding: 16px;
    gap: 42px;
    list-style-type: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.wrap {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

button {
    width: 100px;
}

.hero {
    background-size: cover;
    padding-bottom: 100px;
    width: 100%;
    margin: 0;
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

.links li {
    color: #fff;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9f8fa;
}

.link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px;
    border: 1px solid #3882f6;
    border-radius: 8px;
}

.case-img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}

.information-header-text {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.case {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 150px;
}

.case-text {
    font-size: 24px;
    color: #1F2937;
    margin-top: 12px;
    font-family: 'Ceviche One', cursive;
}


/*-----------------------------------------------------------------------------------------------------------
----------start of the third section----------------------------------------------------------------------------------
=--------------------------------*/

.capsule {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Zen Antique Soft', serif;
    font-size: 36px;
    font-weight: 550;
    padding-top: 30px;
    color: #1F2937;
}

.author {
    display: flex;
    justify-content: center;
    text-align: end;
    margin-top: 20px;
    color: #1F2937;
    font-size: 18px;
    font-weight: 700;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.modal-case {
    display: flex;
    background-color: #1c90dd;
    padding: 52px;
    width: 800px;
    gap: 100px;
    border-radius: 8px;
}

.modal-header,
.modal-text {
    color: #fff;
}

.modal-header {
    font-size: 24px;
    font-weight: 900;
}

.modal-btn {
    border: 1px solid #fff;
    padding: 0px 24px;
    width: 150px;
}

.footer {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}